# Maven / build
target/
build/

# Logs
*.log
hs_err_pid*

# IDE - IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Eclipse / STS
.classpath
.project
.settings/
.factorypath
.springBeans
.apt_generated
.sts4-cache

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# Local config
src/main/resources/application-local.yml